 
        <div id="whypay">
            <div class="top-content">
                <app-header></app-header>
                <div class="head-content">
                    <div class="description">
                        <h1>{{'why_pay_1'|translate }}</h1>
                        <p>
                            {{'why_pay_2'|translate }}
                        </p>
                    </div>
                    <div class="image">
                        <img loading="lazy" src="../../../assets/images/what_pay.svg"  alt="cashi" />
                    </div>
                </div>
            </div>

            <section class="content">
                <div class="container">
                    <div class="row mx-0" dense>
                        <div class="col-10 mx-auto my-3">
                            <div class="card"> 
                                <h5 class="">
                                    {{'why_pay_3'|translate }}
                                </h5>
                                <p [innerHTML]="'why_pay_4'|translate"> </p> 
                            </div>
                        </div>
                        <div class=" col-10 mx-auto my-3">
                            <div class="card"> 
                                <h5 class="">
                                    {{'why_pay_5'|translate }}
                                </h5>
                                <p [innerHTML]="'why_pay_6'|translate"> </p> 
                            </div>
                        </div>
                        <div class="col-10 mx-auto my-3">
                            <div class="card"> 
                                <h5 class="">
                                    {{'why_pay_7'|translate }}
                                </h5>
                                <p>
                                    {{'why_pay_8'|translate }}</p> 
                            </div>
                        </div>

                    </div>
                </div>
                <app-footer></app-footer>
            </section>
        </div> 
 