
// colors
$blue: #233963;
$white: #FFF;
$black: #000;
$dark: #4A4A4A;
$light: #A4A4A4;
$orange: #ef9536;

//font size
$head_title_size_web_en:50px;
$head_title_size_mobile_en:32px;
$head_title_size_web_ar:45px;
$head_title_size_mobile_ar:32px;
$head_dec_size_web_en:20px;
$head_dec_size_mobile_en:16px;
$head_dec_size_web_ar:18px;
$head_dec_size_mobile_ar:16px;

$all_title_size_web_en:40px;
$all_title_size_mobile_en:30px;
$all_title_size_web_ar:36px;
$all_title_size_mobile_ar:26px;
$all_dec_size_web_en:20px;
$all_dec_size_mobile_en:16px;
$all_dec_size_web_ar:18px;
$all_dec_size_mobile_ar:16px;

$box_title_size_web_en:20px;
$box_title_size_mobile_en:20px;
$box_title_size_web_ar:20px;
$box_title_size_mobile_ar:20px;
$box_dec_size_web_en:16px;
$box_dec_size_mobile_en:16px;
$box_dec_size_web_ar:16px;
$box_dec_size_mobile_ar:16px;


  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
	  margin: 0;
	  padding: 0;
	  border: 0;
	  font-size: 100%;
	  vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
	  display: block;
  }
  body {
	  line-height: 1;
  }
  ol, ul {
	  list-style: none;
  }
  blockquote, q {
	  quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
	  content: '';
	  content: none;
  }
  table {
	  border-collapse: collapse;
	  border-spacing: 0;
  }
  
  *,
  *::before,
  *::after {
	  padding: 0;
	  margin: 0;
	  box-sizing: border-box;
	  list-style: none;
	  list-style-type: none;
	  text-decoration: none;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  text-rendering: optimizeLegibility;
  }
  *,
  html,
  body {
	  box-sizing: border-box;
	  font-family: 'Noto Kufi Arabic', sans-serif;
	  font-style: normal;
  }
  [dir="rtl"]{	
  *,
  html,
  body {
	  font-family: 'Noto Kufi Arabic', sans-serif;
	  font-style: normal;
	  }
  }
  a {
	  color: #3f546c;
	  text-decoration: none;
  
	  &:hover {
  
	  }
  }
  // paddings
  
  .no-padding {
	  padding: 0;
  }
  .padding-05 {
	  padding: .5rem;
  }
  .padding-1 {
	  padding: 1rem;
  }
  .padding-ver-05 {
	  padding: .5rem 0;
  }
  .padding-ver-1 {
	  padding: 1rem 0;
  }
  .padding-hrz-05 {
	  padding: 0 .5rem;
  }
  .padding-hrz-1 {
	  padding: 0 1rem;
  }
  .padding-top-05 {
	  padding-top: .5rem;
  }
  .padding-top-1 {
	  padding-top: 1rem;
  }
  
  
  // margins
  
  .no-margin {
	  margin: 0;
  }
  .margin-05 {
	  margin: .5rem;
  }
  .margin-1 {
	  margin: 1rem;
  }
  .margin-ver-05 {
	  margin: .5rem 0;
  }
  .margin-ver-1 {
	  margin: 1rem 0;
  }
  .margin-hrz-05 {
	  margin: 0 .5rem;
  }
  .margin-hrz-1 {
	  margin: 0 1rem;
  }
  .margin-top-05 {
	  margin-top: .5rem;
  }
  .margin-top-1 {
	  margin-top: 1rem;
  }
  
  
  // font weights
  
  .noraml {
	  font-weight: normal;
  }
  .bold {
	  font-weight: bold;
  }
  
  // font sizes
  
  .font-08 {
	  font-size: .8rem
  }
  .font-1 {
	  font-size: 1rem;
  }
  .font-12 {
	  font-size: 1.2rem;
  }
  
  // colors
  .c-blue {
	  color: $blue;
  }
  .bg-blue {
	  background-color: $blue;
  }
  .c-white {
	  color: #FFF;
  }
  .bg-white {
	  background-color: #FFF;
  }
  .c-dark {
	  color: $dark;
  }
  .bg-dark {
	  background-color: $dark;
  }
  .c-light {
	  color: $light;
  }
  .bg-light {
	  background-color: $light;
  }
  .c-orange {
	  color: $orange;
  }
  
  .error {
	  padding: 0.5rem;
	  border: 2px solid red;
	  border-radius: .5rem;
	  background-color: #ffe2e2;
	  color: red;
  }
  
  // widths
  
  .full-width {
	  width: 100%;
	  
	  &.width-margins {
		  width: calc(100% - 1rem);
		  margin: .5rem;
	  }
  }
  
  .half-width {
	  width: 50%;
	  
	  &.width-margins {
		  width: calc(50% - 1rem);
		  margin: .5rem;
	  }
  }
  
  // text
  .text-center {
	  text-align: center;
  }
  .text-dec-none {
	  text-decoration: none;
  }
  .ltr {
	  direction: ltr;
  }
  .rtl {
	  direction: rtl;
  }
  .image {
	  margin: .25rem;
	  max-width: 100%;
	  object-fit: contain;
  }
  .flex {
	  display: flex;
  
	  &.col {
		  flex-direction: column;
	  }
	  &.row {
		  flex-direction: row;
	  }
	  &.row-reverse {
		  flex-direction: row-reverse;
	  }
	  &.content-center {
		  justify-content: center;
	  }
	  &.content-space-between {
		  justify-content: space-between;
	  }
	  &.content-space-around {
		  justify-content: space-around;
	  }
	  &.items-center {
		  align-items: center;
	  }
	  &.items-start {
		  align-items: flex-start;
	  }
	  &.items-end {
		  align-items: flex-end;
	  }
	  &.grid {
		  flex-wrap: wrap;
	  }
	  &.grid-reverse {
		  flex-wrap: wrap-reverse;
	  }
  
	  .grow {
		  flex-grow: 1;
	  }
  }