<div id="Partners">
    <div class="top-content">
        <app-header></app-header>
        <div class="description">
            <h1>{{'footer2'| translate}} </h1> 
        </div> 
    </div>
    <section class="container pos-empowerd mt-4" dir="ltr"> 
        
        <div class="logo text-center">
            <a routerLink="/" class="logo">
                <img loading="lazy" src="../../../assets/images/cashi-logo2.png" alt="Cashi" class="image"/>
            </a>
        </div>
        <div class="my-3">
            <ol>
                <li class="my-3">1. What kind of data do we collect?
We collect your GPS location to track your daily routes to visit Cashi partners.</li>
<li  class="my-3">
2. What do you use your data for?
Any of your data can be used for one of the following uses:
<p>- To know your interests to direct you to what you want easily and conveniently.</p>
<p>- Improve the quality of services within the site, we need your interest and share your opinion with us to improve the work of the site.</p>
<p>- Your information also helps us in the practical and ideal response to your request when needed.</p>
<p>- Your personal and public information taken from you will not be exchanged, sold, transferred or given to any other party or given to other companies without your personal consent.</p>
<p>- For administrative use (advertising, survey, or any of the features of the site).</p>
</li>
<li class="my-3">3. How will we protect your data?
We implement various types of security and privacy measures to keep your personal information with us.</li>
<li class="my-3">4. Privacy of Registration:
The only way to register on the www.getcashi.com website is through direct personal registration through the site and we do not do any indirect registration, for example (calling to take personal information or through representatives), and this registration is free. Customer service only explains and facilitates your use of the site.</li>
<li class="my-3">5. Consent to use:
When you use the site or its related Appl, you are automatically subject to the terms of security and privacy and our use agreement.</li>
<li class="my-3">
6. Contact us:
In the event of any questions or any objections to privacy and security, all you have to do is contact us through the designated help phone or send an email to  <a href="mailto:help@alsoug.com?Subject=Contact alsoug.com"  class="nuxt-link-active" style="color: #6151DC;font-weight: bold;">getcashi.com</a>  with all capacity and welcome.</li>
            </ol>
        </div>
    </section>
            <app-footer></app-footer>
</div>