<div id="contact-us">
    <div class="top-content">
        <app-header></app-header>
        <h3 class="text-center">{{'contact_3'|translate}}</h3>
    </div> 
    
    <div class="info-contact text-center">
      <img loading="lazy" src="../../../assets/images/mailbox.webp"  alt="cashi" class="image" />
        <p> {{ 'contact_1'|translate}}
            <a href="mailto:help@alsoug.com?Subject=Contact alsoug.com" title="" class="email">help@alsoug.com</a>
            {{ 'contact_2' | translate}}
            <a href="tel:2692  " title="" class="phone">2692  </a>
        </p>
    </div>
    <app-footer></app-footer>
</div>