
        <div id="whatpay">
            <div class="top-content">
                <app-header></app-header>
                <div class="head-content">
                    <div class="description">
                        <h1>{{ 'what_pay_1'|translate }}</h1>
                        <p>
                            {{ 'what_pay_2'|translate }}
                        </p>
                    </div>
                    <div class="image">
                        <img loading="lazy" src="../../../assets/images/about/what.png"  alt="cashi" />
                    </div>
                </div>
            </div>

            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-10 mx-auto my-3">
                            <div class="card"> 
                                    <h5 class="my-2">
                                        {{ 'what_pay_3'|translate }}
                                    </h5>
                                    <p>
                                        {{ 'what_pay_4'|translate }}</p> 
                            </div>
                        </div>

                    </div>
                    <div class="services my-4">

                        <div class="row">
                            <div class="col-lg-3 cols-sm-4 col-6 my-2 text-center">
                                <div class="card rounded">
                                    <div class="icon">
                                        <img loading="lazy" src="../../../assets/images/services/telecom.svg" alt="telecom"  height="50" width="60" />
                                    </div>
                                    <div class="v-list-item__content">
                                        <div class="v-list-item__title"> {{'what_pay_6'|translate}} </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3 cols-sm-4 col-6 my-2 text-center">
                                <div class="card rounded">
                                    <div class="icon">
                                        <img loading="lazy" src="../../../assets/images/services/maxnet.svg" alt="maxnet" height="50" width="60" />
                                    </div>
                                    <div class="v-list-item__content">
                                        <div class="v-list-item__title"> {{'what_pay_5'|translate}} </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-3 cols-sm-4 col-6 my-2 text-center">
                                <div class="card rounded">
                                    <div class="icon">
                                        <img loading="lazy" src="../../../assets/images/services/transfer.svg" alt="transfer" height="50" width="60" />
                                    </div>
                                    <div class="v-list-item__content">
                                        <div class="v-list-item__title"> {{'what_pay_7'|translate}} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 cols-sm-4 col-6 my-2 text-center">
                                <div class="card rounded">
                                    <div class="icon">
                                        <img loading="lazy" src="../../../assets/images/services/goverment.svg" alt="goverment" height="50" width="60" />
                                    </div>
                                    <div class="v-list-item__content">
                                        <div class="v-list-item__title"> {{'what_pay_8'|translate}} </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3 cols-sm-4 col-6 my-2 text-center">
                                <div class="card rounded">
                                    <div class="icon">
                                        <img loading="lazy" src="../../../assets/images/services/crypto.svg" alt="crypto" height="50" width="60" />
                                    </div>
                                    <div class="v-list-item__content">
                                        <div class="v-list-item__title"> {{'what_pay_9')}} </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-lg-3 cols-sm-4 col-6 my-2 text-center">
                                <div class="card rounded">
                                    <div class="icon">
                                        <img loading="lazy" src="../../../assets/images/services/alsoug.svg" alt="alsoug" height="50" width="60" />
                                    </div>
                                    <div class="v-list-item__content">
                                        <div class="v-list-item__title"> {{'what_pay_10'|translate}} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 cols-sm-4 col-6 my-2 text-center">
                                <div class="card rounded">
                                    <div class="icon">
                                        <img loading="lazy" src="../../../assets/images/services/subscriptions.svg" alt="subscriptions" height="50" width="60" />
                                    </div>
                                    <div class="v-list-item__content">
                                        <div class="v-list-item__title"> {{'what_pay_11'|translate}} </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 cols-sm-4 col-6 my-2 text-center">
                                <div class="card rounded">
                                    <div class="icon">
                                        <img loading="lazy" src="../../../assets/images/services/customs.svg" alt="customs" height="50" width="60" />
                                    </div>
                                    <div class="v-list-item__content">
                                        <div class="v-list-item__title"> {{'what_pay_12'|translate}} </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 cols-sm-4 col-6 my-2 text-center">
                                <div class="card rounded">
                                    <div class="icon">
                                        <img loading="lazy" src="../../../assets/images/services/electricity.svg" alt="electricity" height="50" width="60" />
                                    </div>
                                    <div class="v-list-item__content">
                                        <div class="v-list-item__title"> {{'what_pay_13'|translate}} </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 cols-sm-4 col-6 my-2 text-center">
                                <div class="card rounded">
                                    <div class="icon">
                                        <img loading="lazy" src="../../../assets/images/services/education.svg" alt="education" height="50" width="60" />
                                    </div>
                                    <div class="v-list-item__content">
                                        <div class="v-list-item__title"> {{'what_pay_14'|translate}} </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 cols-sm-4 col-6 my-2 text-center">
                                <div class="card rounded">
                                    <div class="icon">
                                        <img loading="lazy" src="../../../assets/images/services/env_gaming.svg" alt="Entertainment & Gaming" height="50" width="60" />
                                    </div>
                                    <div class="v-list-item__content">
                                        <div class="v-list-item__title"> {{'what_pay_15'|translate}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-footer></app-footer>
            </section>
        </div>