<div class="footer conainer" id="footer">
  <div class="copyright flex">
    <div class="logos">
      <a
        href="https://www.facebook.com/people/Cashi/100083055166575/"
        class="mx-1"
      >
        <img
          loading="lazy"
          alt="cashi"
          src="./assets/images/brand-facebook-w.svg"
          width="25"
      /></a>
      <a href="https://www.instagram.com/getcashi/" class="mx-1">
        <img
          loading="lazy"
          alt="cashi"
          src="./assets/images/brand-instagram-w.svg"
          width="25"
      /></a>
      <a href="https://www.linkedin.com/company/alsoug-cashi/" class="mx-1">
        <img
          loading="lazy"
          alt="cashi"
          src="./assets/images/brand-linkedin-w.svg"
          width="25"
      /></a>
      <a href="https://twitter.com/GetCashi" class="mx-1">
        <img
          loading="lazy"
          alt="cashi"
          src="./assets/images/brand-twitter-w.svg"
          width="25"
      /></a>
      <a href="https://wa.me/+2490910012711" class="mx-1">
        <img
          loading="lazy"
          alt="cashi"
          src="./assets/images/brand-whatsapp-w.svg"
          width="25"
      /></a>
    </div>
    <ul class="flex">
        <li>
        <a routerLink="/terms-condition">{{ "footer1" | translate }}</a>
        </li>
        <li>
        <a routerLink="/privacy-policy">{{ "footer2" | translate }}</a>
        </li>
    </ul>
      <!-- <a routerLink="/coming">{{  "footer3" | translate }}</a>
        <a routerLink="/coming]">{{  "footer4" | translate }}</a> -->
    
    <p dir="ltr">{{ "footer5" | translate }}</p>
  </div>
</div>
