
        <div id="Partners">
            <div class="top-content">
                <app-header></app-header>
                <div class="description">
                    <h1>
                        {{ 'biller_21'| translate }}</h1> 
                </div> 
            </div>
            <section class="pos-empowerd">
                <div class="clients"> 
                    
                    <div class="container">
                        <div class="row mx-0" dense style="justify-content:space-around">
                            <!-- <div class="col-lg-2 col-md-3 col-sm-4 col-12 text-center one-step">
                                    <img loading="lazy" src="~/assets/images/biller/client/canar.png" class="img-fluid"  alt="cashi" />
                            </div> -->
                            <div class="col-lg-2 col-md-3 col-sm-4 col-12 text-center one-step">
                                    <img loading="lazy" src="../../../assets/images/biller/client/sedc.png" class="img-fluid"  alt="cashi" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-12 text-center one-step">
                                    <img loading="lazy" src="../../../assets/images/biller/client/kic.png" class="img-fluid"  alt="cashi" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-12 text-center one-step">
                                    <img loading="lazy" src="../../../assets/images/biller/client/maxnet.png" class="img-fluid"  alt="cashi" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-12 text-center one-step">
                                    <img loading="lazy" src="../../../assets/images/biller/client/sudani.png" class="img-fluid"  alt="cashi" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-12 text-center one-step">
                                    <img loading="lazy" src="../../../assets/images/biller/client/mtn.png" class="img-fluid"  alt="cashi" />
                            </div>
                        </div>
                    </div>
                </div>
                <app-footer></app-footer>
            </section>
        </div>