<div class="new-footer">
    <div class="container"  id="footer-pages">
        <div class="logo">
            <a
            href="https://www.facebook.com/people/Cashi/100083055166575/"
            class="mx-1"
            >
            <img
                loading="lazy"
                alt="cashi"
                src="../assets/images/brand-facebook.svg"
                width="25"
            /></a>
            <a href="https://www.instagram.com/getcashi/" class="mx-1">
            <img
                loading="lazy"
                alt="cashi"
                src="../assets/images/brand-instagram.svg"
                width="25"
            /></a>
            <a href="https://www.linkedin.com/company/alsoug-cashi/" class="mx-1">
            <img
                loading="lazy"
                alt="cashi"
                src="../assets/images/brand-linkedin.svg"
                width="25"
            /></a>
            <a href="https://twitter.com/GetCashi" class="mx-1">
            <img
                loading="lazy"
                alt="cashi"
                src="../assets/images/brand-twitter.svg"
                width="25"
            /></a>
            <a href="https://wa.me/+2490910012711" class="mx-1">
            <img
                loading="lazy"
                alt="cashi"
                src="../assets/images/brand-whatsapp.svg"
                width="25"
            /></a>
        </div>
        
        <div class="menu">
        <ul class="flex">
            <li>
            <a routerLink="/terms-condition">{{ "footer1" | translate }}</a>
            </li>
            <li>
            <a routerLink="/privacy-policy">{{ "footer2" | translate }}</a>
            </li>
        </ul>
        </div>
        <div class="copyright">
            <p dir="ltr">{{ "footer5" | translate }}</p>
        </div> 
    </div>
</div>
