
        <div id="biller">
            <div class="top-content">
                <app-header></app-header>
                <div class="head-content">
                    <div class="description">
                        <h1 class="mb-3">
                            {{"biller_1" | translate }}
                        </h1>
                        <p>
                            {{"biller_2" | translate }}
                        </p>
                    </div>
                    <div class="image">
                        <img loading="lazy" src="../../../assets/images/biller/banner.png" alt="store" />
                    </div>
                </div>
            </div>

            <section class="pos-empowerd">
                <div class="pos-content">
                    <div class="image">
                        <img loading="lazy" src="../../../assets/images/biller/flexable.png" alt="store" />
                    </div>
                    <div class="description">
                        <h2>
                            {{"biller_3" | translate }}
                        </h2>
                        <p>
                            {{"biller_4" | translate }}
                        </p>
                    </div>
                </div>
                <div class="do-it">
                    <h2 class="text-center">
                        {{"biller_5" | translate }}
                    </h2>
                    <p class="text-center">{{"biller_6" | translate }}</p>
                    
                    <div class="container cards">
                        <div class="row mx-0" dense style="justify-content:space-around"> 
                            <div class="col-lg-3 cols-sm-4 col-12 card">
                                    <h5 class=" mb-2">
                                        {{'biller_7' | translate }}
                                    </h5>
                                    <p [innerHTML]="'biller_8'| translate"></p>
                            </div>
                            <div class="col-lg-3 cols-sm-4 col-12 card">
                                    <h5 class=" mb-2">
                                        {{'biller_9' | translate }}
                                    </h5>
                                    <p [innerHTML]="'biller_10'| translate"></p>
                            </div>
                            <div class="col-lg-3 cols-sm-4 col-12 card">
                                    <h5 class=" mb-2" [innerHTML]="'biller_11' | translate "> 
                                    </h5>
                                    <p>{{'biller_12' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tracking-transaction">
                    <div class="transaction-content mt-3">
                        <div class="description">
                            <h2>
                                {{'biller_13' | translate }}
                            </h2>
                            <p>
                                {{'biller_14' | translate }}
                            </p>
                        </div>
                        <div class="image">
                            <img loading="lazy" src="../../../assets/images/biller/global.png" alt="store" />
                        </div>
                    </div>
                    <div class="container">
                        <div class="row mx-0" dense style="justify-content:space-around">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-12 one-step">
                                <div class="head d-flex align-center">
                                    <img loading="lazy" src="../../../assets/images/consumer/trusted.svg" alt="cashi" />
                                    <h4 style=" ">
                                        {{'biller_15' | translate }}
                                    </h4>
                                </div>
                                <div class="content">
                                    <p>
                                        {{'biller_16' | translate }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-12 one-step">
                                <div class="head d-flex align-center">
                                    <img loading="lazy" src="../../../assets/images/consumer/reliable.svg" alt="cashi" />
                                    <h4>
                                        {{'biller_17' | translate }}
                                    </h4>
                                </div>
                                <div class="content">
                                    <p>
                                        {{'biller_18' | translate }}
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-12 one-step">
                                <div class="head d-flex align-center">
                                    <img loading="lazy" src="../../../assets/images/consumer/improving.svg" alt="cashi" />
                                    <h4>
                                        {{'biller_19' | translate }}
                                    </h4>
                                </div>
                                <div class="content">
                                    <p>
                                        {{'biller_20' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clients">
                    <h2 class="text-center">
                        {{'biller_21' | translate }}
                    </h2>
                    
                    <div class="contailer">
                        <div class="row mx-0" dense style="justify-content:space-around">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6 one-step">
                                    <img loading="lazy" src="../../../assets/images/biller/client/canar.png" class="img-fluid"  alt="cashi" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6 one-step">
                                    <img loading="lazy" src="../../../assets/images/biller/client/sedc.png" class="img-fluid"  alt="cashi" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6 one-step">
                                    <img loading="lazy" src="../../../assets/images/biller/client/kic.png" class="img-fluid"  alt="cashi" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6 one-step">
                                    <img loading="lazy" src="../../../assets/images/biller/client/maxnet.png" class="img-fluid"  alt="cashi" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6 one-step">
                                    <img loading="lazy" src="../../../assets/images/biller/client/sudani.png" class="img-fluid"  alt="cashi" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6 one-step">
                                    <img loading="lazy" src="../../../assets/images/biller/client/mtn.png" class="img-fluid"  alt="cashi" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map">
                    <h3>{{'biller_22' | translate }}
                    </h3>
                    <a routerLink="/coming" class="menu-link"> {{'biller_23' | translate }} </a>
                </div>
                <app-footer></app-footer>
            </section>
        </div>