<nav class="navbar navbar-expand-lg p-0">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img loading="lazy" src="../../../assets/images/cashi-logo.png" alt="Cashi" width="100" class="image"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isValid;else other_content">
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" routerLink="/about">{{ "head1" | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" routerLink="/partners">{{ "head2" | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" routerLink="/why-pay">{{ "head3" | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" routerLink="/what-pay">{{ "head4" | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" routerLink="/blogs">{{ "head6" | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLinkActive]="['active']" routerLink="/contact-us">{{ "head5" | translate }}</a>
                </li>
            
                    <li (click)="switchLang('en')" class=" current nav-item">
                        <a class="nav-link">{{ 'lang' |translate}}</a>
                    </li>
            </ul>
            <ng-template #other_content>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/about">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/partners">partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/why-pay">why-pay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/what-pay">what-pay</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/blogs">blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/contact-us">contact-us</a>
                    </li>
                    
                    <li (click)="switchLang('ar')"  class=" current nav-item">
                        <a class="nav-link">{{ 'lang' |translate}}</a>
                    </li> 
                </ul>
            </ng-template>

        </div>
    </div>
</nav>